body{
  width: 100;
  overflow-x: hidden;
  font-family: 'Yantramanav', sans-serif;
}
.back{
  background-image: url(../css/h_img.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;
  color: azure;
  text-align: center;
  font-size: 60%;
  padding: 150px;
  position: relative;
}
.back h1{
  margin-top: 15px;
  font-size: 40px;
}    
.back p{
  margin-top: 10px;
  font-size: 120%;
}
.mouse{
  margin-top: 80px;
}
.logo{
  margin-top: 10px; 
}
.writing{
  text-align: center;
}
.writing p{
  font-size: 80%;
}
.services{
  background-image: url(../IP3/assets/backgrounds/s_image.jpg);
  background-size: cover;
  height: 250px;
  text-align: center;
  padding: 85px;
  color: azure;
  font-size: 80%;
  position: relative;